body {
    font-family: 'Lato', sans-serif;
}

.App {
 font-family: 'Lato', sans-serif;
}

.Border-circle {
    color: blue;
    width: 10px;
    height: 10px;
    border: 2px solid #e0dfe0;
    border-radius: 50%;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}

.Border-circle-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.nav-title {
    color:  #8c8c8c ;
    font-size: 25px;
}

.navsearch-text {
    color:  #8c8c8c ;
    font-size: 15px;
    font-style: inherit;
    padding-top: 10px;
}

.icons-table {
    color: #1976d2;
    margin: 5px;
    font-size: 17px;
}