.Border-circle {
    color: #e0dfe0;
    width: 30px;
    height: 30px;
    border: 3px solid;
    border-radius: 50%;
    padding: 20px;
    font-family: 'Lato', sans-serif;
}

.Border-circle-pic {
    color: #e0dfe0;
    width: 100px;
    height: 100px;
    border: 3px solid;
    border-radius: 50%;
    font-family: 'Lato', sans-serif;
}

.text-name {
    font-family: 'Lato', sans-serif;
}
.nav-title {
    font-family: 'Lato', sans-serif;
    color:  #8c8c8c ;
    font-size: 25px;
}
.navsearch-text {
    font-family: 'Lato', sans-serif;
    color:  #8c8c8c ;
    font-size: 15px;
    font-style: inherit;
}
.App {
}
